@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* ---------------------------------------------------
    		Common
----------------------------------------------------- */
html {
	overflow-x: hidden;
}
body {
	font-family: "Roboto", sans-serif;
	background: hsl(0, 0%, 100%);
	overflow-x: hidden;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar {
	min-height: 65px;
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}
/* ---------------------------------------------------
    TOP NAVBAR
----------------------------------------------------- */
.witlyf-superwhitenav button {
	display: none;
	background-color: #f67000;
	outline: none;
	border: none;
	box-shadow: none;
}
.witlyf-superwhitenav button:hover,
.witlyf-superwhitenav button:active,
.witlyf-superwhitenav button:focus {
	background-color: #b15000 !important;
	outline: none;
	border: none;
	box-shadow: none !important;
}
.navbar-light .nav-link {
	color: black !important;
}
.witlyf-topnav .nav-item {
	color: black !important;
}
.witlyf-topnav .nav-item .fa {
	color: black !important;
}
.witlyf-topnav .nav-item {
	border-radius: 50%;
	background-color: #efefef !important;
	padding: 2px 4px;
	margin-left: 10px;
	font-size: 12px;
}
.witlyf-searchbar {
	padding-top: 13px;
	position: relative;
	padding: 2px 4px 4px 4px !important	;
}
.witlyf-searchbar input[type="text"] {
	font-size: 17px;
	background: #efefef;
	border: none;
	border-radius: 13px 13px 13px 13px;
	margin-top: 3px;
}
.witlyf-searchbar .fa-search {
	font-size: 12px;
	border-left: none;
	cursor: pointer;
	margin-left: -20px;
}
/* ---------------------------------------------------
		Sidebar
----------------------------------------------------- */

#witlyf-sidebar {
	width: 17%;
	position: fixed;
	top: 65px;
	left: 0;
	height: 100%;
	z-index: 10;
	background: #f67000;
	transition: all 0.3s;
	color: #efefef;
	overflow-y: auto;
}
#witlyf-sidebarclose {
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
}

#witlyf-sidebar.active {
	margin-left: 0px;
	width: 100%;
}

#witlyf-sidebar ul li a {
	padding: 10px;
	padding-left: 30px;
	font-size: 14px;
	display: block;
}
#witlyf-sidebar ul .witlyf-activenav {
	background: #db6400;
	color: rgb(255, 255, 255);
}
#witlyf-sidebar ul svg {
	margin-right: 10px !important;
}

#witlyf-sidebar ul li a:hover {
	background: #db6400;
	color: rgb(255, 255, 255);
}
.witlyf-profile {
	margin-bottom: 30px;
}
.witlyf-profile .witlyf-profileimage {
	border-radius: 50%;
	max-width: 70%;
	margin-top: 20px;
	margin-bottom: 23px;
}
.witlyf-profile h4 {
	margin-bottom: 0;
	color: white;
}
.witlyf-profile p {
	color: white;
	font-size: 12px;
	margin-top: 0;
	padding-top: 0;
}
.witlyf-profile .btn-primary {
	background-color: white;
	outline: none;
	color: #f57000;
	border: none;
	border-radius: 15px 15px;
	width: 75%;
}
.witlyf-profile .row {
	margin: 10px 0px;
}
.witlyf-profile .row .col-sm-6 {
	margin: 0;
	padding: 0;
	width: auto;
}
.witlyf-profile .row .btn-primary {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	font-size: 12px;
	width: 80%;
}
.witlyf-sidebar .updatedetailsdropdown {
	display: none;
}
/* ---------------------------------------------------
    YELLOW NAVBAR
----------------------------------------------------- */

.witlyf-yellownav {
	width: 83%;
	background-color: #fef7dd;
	height: 40px;
	float: right;
	font-size: 13px;
	padding: 10px;
}

.witlyf-yellownav .witlyf-leftitems {
	float: left;
}
.witlyf-yellownav a {
	margin: 0 20px;
}
.witlyf-yellownav .witlyf-rightitems {
	float: right;
	color: #b15000;
}
/* ---------------------------------------------------
   Body Content
----------------------------------------------------- */
.witlyf-content {
	width: 83%;
	float: right;
}
input {
	font-size: 12px !important;
}
.textcenterrow {
	margin: auto;
	text-align: center;
}
.textcenterrow img {
	width: 150px;
}
.textcenterrow input {
	margin: auto;
	width: 150px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.witlyf-content .col-md-3 {
	background-color: #efefff;
	padding: 40px 30px;
	height: 100%;
	margin: 20px 10px 5px 40px;
}
.witlyf-profile-photo {
	border-radius: 50%;
}
.witlyf-button1 {
	float: right;
	margin-right: 2px;
}
.witlyf-bluebar li {
	border-bottom: 1px solid #a8a8a8;
	padding: 10px;
}
.witlyf-bluebar li:nth-last-child(1) {
	border-bottom: none;
}
.certiimag {
	width: 300px;
}
.inputcerti {
	width: 300px;
}
.videossection iframe {
	width: 90%;
}
.gallerysection img {
	width: 85%;
	padding: 10px;
}
@media (max-width: 800px) {
	.witlyf-content {
		width: 100%;
		background-color: #fef7dd;
		float: right;
	}
	.witlyf-content .col-md-3 {
		display: none;
	}
	.certiimag {
		width: 100px;
	}
	.inputcerti {
		width: 100px;
		height: 30px;
	}
	.awardscontent img {
		width: 70%;
	}
	.awardscontent .awardsinput {
		margin: 10px auto;
		width: 70%;
		height: 30px;
	}
	.videossection iframe {
		margin-left: 20px;
		width: 90%;
	}
	table {
		font-size: 13px;
	}
}

/* ---------------------------------------------------
    Responsive
----------------------------------------------------- */

@media (max-width: 800px) {
	@media screen and (max-width: 800px) {
	}
	.witlyf-superwhitenav .navbar-nav {
		flex-direction: row;
	}
	.witlyf-topnav .nav-item {
		padding: 1px 8px;
		margin-left: 10px;
		font-size: 12px;
	}
	#witlyf-sidebar {
		margin-left: -250px;
	}
	#witlyf-sidebar .active {
		margin-left: 0px !important;
	}
	.witlyf-superwhitenav button {
		display: block;
		float: left;
	}
	.witlyf-yellownav {
		height: 60px;
		font-size: 13px;
		padding: 10px;
		width: 100%;
	}
	.witlyf-yellownav a {
		margin: 20px 25px;
	}
	.witlyf-yellownav .witlyf-leftitems {
		text-align: left !important;
		float: left;
	}
	.witlyf-yellownav .witlyf-leftitems a:nth-child(1) {
		margin-right: 65px;
	}
	.witlyf-yellownav .witlyf-rightitems {
		text-align: right !important;
		float: left;
	}
	.witlyf-sidebarclose {
		display: block;
	}
	.witlyf-searchbar {
		padding-top: 13px;
		position: relative;
		padding: 2px 4px 4px 4px !important	;
	}
	.witlyf-searchbar input[type="text"] {
		width: 100px;
	}
	.witlyf-profile .row .col-sm-6 {
		margin: auto;
	}
	.witlyf-profile .row .btn-primary {
		background-color: transparent;
		color: white;
		border: 1px solid white;
		font-size: 12px;
		width: 120%;
	}
	.witlyf-profile {
		margin-bottom: 3px;
	}
	.witlyf-sidebar .witlyf-updatedetailsdropdown {
		display: block;
	}
}
/*****************************************
 HomePage Content 
 *****************************************/
.chartsmain .col-md9,
.chartsmain .col-md-3 {
	margin: 0 !important;
	padding: 0 !important;
	background-color: transparent;
	height: auto;
}
.chartsmain .charts-container .col-md-3 {
	border-right: 1px solid rgb(185, 185, 185);
	display: block !important;
}

.chartsmain .charts-container .col-md-3 img {
	text-align: right;
	margin-left: 90px;
	margin-top: 10px;
}
.chartsmain .charts-container .col-md-3 p {
	padding-left: 30px;
}
.bluetop {
	background-color: #f7f7ff;
	height: 150px;
	width: 100%;
	margin: 10px;
	padding: 10px 20px;
}
.bluetop h1 {
	font-size: 18px;
	font-weight: 600;
}
.bluetop p {
	color: rgb(145, 145, 145);
}
.bluetop button {
	border-radius: 20px;
	font-size: 14px;
	background-color: #005fc3;
	margin-right: 10px;
}
.bluetop .btn-light {
	border-radius: 20px;
	font-size: 14px;
	background-color: transparent;
	border: 1px solid rgb(107, 107, 107);
}
.greycharts {
	padding: 10px 20px;
	margin: 10px;
	background-color: #f4f9fd;
	height: 230px;
	width: 100%;
}
.greycharts .card p {
	margin: 0;
	padding: 0;
}
.chartleftitems {
	float: left;
}
.chartrightitems {
	float: right;
}
.charts-container {
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgb(250, 250, 250);
	min-height: 80px;
	padding-top: 20px;
}
.charts-container p {
	margin: 0;
	margin-left: 30px;
	padding: 0px;
	text-align: left;
	font-size: 18px;
}
.charts-container p:nth-child(2) {
	font-size: 12px;
	color: rgb(136, 136, 136);
}
.charts-container img {
	width: 30px;
}
@media (max-width: 800px) {
	.bluetop {
		height: 240px;
	}
	.bluetop h1 {
		font-size: 16px;
		font-weight: 600;
	}
	.bluetop p {
		color: rgb(145, 145, 145);
		font-size: 12px;
	}
	.bluetop button {
		margin-bottom: 7px;
	}
	.greycharts {
		padding: 10px 20px;
		margin: 10px;
		background-color: #f4f9fd;
		height: 500px;
		width: 100%;
	}
}
.progresstrack {
	height: 90%;
	width: 90%;
	border: 1px solid #a8a8a8;
	margin-left: 8px;
	margin-top: 15px;
	padding: 18px 10px;
}
.progresstrack h6 {
	color: #494949;
}
.progresstrack small {
	color: #a8a8a8;
}
.progresstrack ul {
	padding-left: 10px;
	color: #a8a8a8;
	margin-top: 20px;
}
.progresstrack li .fa-check {
	margin-right: 10px;
}
.progresstrack .activeprogress {
	color: #f67000;
}
@media (max-width: 800px) {
	.chartsmain .charts-container .col-md-3 .row {
		margin-bottom: 20px;
	}
	.chartsmain .charts-container .col-md-3 .col-xs-4 {
		margin-left: 30px;
	}
	.chartsmain .charts-container .col-md-3 img {
		text-align: left;
		margin-left: 50px;
	}
	.witlyf-button {
		width: 100%;
	}
}
