@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
	font-family: "Poppins", sans-serif;
	background: #fafafa;
}

p {
	font-family: "Poppins", sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar {
	min-height: 65px;
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	width: 100%;
}

#sidebar {
	width: 17%;
	position: fixed;
	top: 65px;
	left: 0;
	height: 100%;
	z-index: 10;
	background: #f57000;
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #7386d5;
	background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

a[data-toggle="collapse"] {
	position: relative;
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #7386d5;
}

a.article,
a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}
/* Yello wala nav */
.yellownav {
	width: 83%;
	background-color: #fcbd30;
	height: 40px;
	float: right;
	font-size: 13px;
	padding: 10px;
}
.yellownav button {
	display: none;
}
.yellownav .leftitems {
	float: left;
}
.yellownav a {
	margin: 0 20px;
}
.yellownav .rightitems {
	float: right;
	color: chocolate;
}

/* Edited BY HARSH GOEL */
.navbar-light .nav-link {
	color: black !important;
}
.topnav .nav-item {
	color: black !important;
}
.topnav .nav-item .fa {
	color: black !important;
}
.topnav .nav-item {
	border-radius: 50%;
	background-color: #d4d4d4 !important;
	padding: 2px 4px;
	margin-left: 10px;
	font-size: 12px;
}
.searchbar {
	padding-top: 13px;
	position: relative;
	padding: 2px 4px 4px 4px !important	;
}
.searchbar input[type="text"] {
	font-size: 17px;
	background: #d4d4d4;
	border: none;
	border-radius: 13px 13px 13px 13px;
	margin-top: 3px;
}

.searchbar .fa-search {
	font-size: 12px;
	border-left: none;
	cursor: pointer;
	margin-left: -20px;
}
@media (max-width: 800px) {
	.navbar-nav {
		flex-direction: row;
	}
	.topnav .nav-item {
		border-radius: 50%;
		background-color: #d4d4d4 !important;
		padding: 2px 8px;
		margin-left: 10px;
		font-size: 12px;
	}
	.yellownav {
		background-color: #fcbd30;
		height: 60px;
		float: none;
		font-size: 13px;
		padding: 10px;
		width: 100%;
		text-align: right;
	}
	#sidebar {
	}
	.yellownav button {
		display: block;
		float: left;
	}
	.yellownav .linksofnav {
		float: right;
	}
	.yellownav a {
		margin: 0;
	}
}
